*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*header*/

.menù{
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flexcentro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sx{
    margin-left: 15px;
}

.sx li, .dx li{
    display: inline;
    padding-left: 40px;
    cursor: pointer;
}

.dx{
    margin-right: 15px;
}

.dx button{
    width: 70px;
    height: 33px;
    border: none;
    cursor: pointer;
    font-size: medium;
    margin-left: 20px
}

.bianco{
    background-color: white;
}

.blu{
    background-color: #0061FF;
    color: white;
}


.jumbo{
    background-color: #B4D0E7;
    height: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.j-container{
    width: 1040px;
    height: 600px;
    position: relative;
}

.j-container h1{
    font-size: 70px;
    font-weight: 900;
}

.descrizione{
    width: 355px;
    padding-top: 40px;
}

.bt button{
    width: 220px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: medium;
    margin: 30px 0px;

}

.arrow{
    align-items:flex-end;
    height: 114px;

}

.arrow i{
    font-size: 65px;
}

.j-container img{
    width: 850px;
    position: absolute;
    left: 350px;
    top: 240px;
}



/*main*/

.c-container{
    width: 100%;
    height: 1200px;
    align-items: flex-end;
}

.card{
    background-color: pink;
    height: 900px;
    width: 300px;
    margin: 0px 20px 55px;
}

.r-container{
    flex-direction: row;
    width: 979px;
    margin-left: 186px;
}

.inner-container{
    width: 979px;
    margin: 0 auto;
    background-color: pink;
    min-width: 200px;
    height: 250px;
}

.blocco{
    background-color: pink;
    width: 979px;
    height: 500px;
    margin-top: 150px;
}

.sp-container{
    height: 1110px;
    background-color: pink;
    margin-top: 170px;
    padding-left: 190px;
    padding-top: 40px;
}

.specifiche{
    width: 282px;
    height: 450px;
    background-color: violet;
    border: 1px solid black;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 50px;
}

.dbusiness{
    background-color: pink;
    height: 330px;
    border: 1px solid black;
}

.compagnie{
    width: 100%;
    height: 500px;
    background-color: pink;
}

.sinistra, .centro, .destra{
    width: 600px;
    height: 100%;
    border: 1px solid black;
    background-color: aquamarine;
}

.superiore, .inferiore{
    width: 100%;
    height: 50%;
}

.quadrato{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    border: 1px solid black;
}

.free{
    height: 360px;
    background-color: pink;
}

.faq-container{
    height: 720px;
    background-color: violet;
}

.faq{
    width: 990px;
    height: 410px;
    background-color: aquamarine;

}

/*footer*/

.footer-container{
    height: 570px;
    background-color: pink;
}

.altro{
    width: 1200px;
    height: 415px;
    background-color: violet;
}

.colonne{
    width: 156px;
    height: 100%;
    background-color: aquamarine;
    border: 1px solid black;
    margin-right: 100px;
}

.ultimo{
    margin-right: 0px;
}
