*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*header*/

.menù{
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flexcentro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: pink;
    width: 5%;
}

.lista{
    background-color: purple;
    width: 10%;
}

.bt{
    background-color: pink;
    width: 7%;
}

.jumbo{
    background-color: aquamarine;
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.j-container{
    width: 1040px;
    height: 600px;
    background-color: blueviolet;
}

/*main*/

.c-container{
    width: 100%;
    height: 1200px;
    align-items: flex-end;
}

.card{
    background-color: pink;
    height: 900px;
    width: 300px;
    margin: 0px 20px 55px;
}

.r-container{
    flex-direction: row;
    width: 979px;
    margin-left: 186px;
}

.row{
    flex: 50%;
    background-color: pink;
    height: 260px;
}

.blocco{
    background-color: pink;
    width: 979px;
    height: 500px;
    margin-top: 100px;
}
